body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.info {
  color: white;
  display: flex;
  justify-content: flex-end;
}
.info:hover {
  color: rgb(250, 246, 16);
}

img {
  width: 650px;
  height: 350px;
  object-fit: cover;
  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3));
}

#dog-wrapper {
  /* border: 1px solid red; */
  cursor: pointer;
  transition: 1s ease;
}

#dog-wrapper:active {
  transform: scale(0.85);
}
