* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #ededed;
}

.escuchar {
  padding: 50px;
  margin: 40px;
  box-shadow: 0 0 12px #ccc;
  background-color: #fff;
  font-size: 30px;
}

.hablar {
  padding: 30px;
  background-color: #fff;
  margin: 50px;
  text-align: center;
}

input {
  padding: 9px;
  font-size: 18px;
  border: 1px solid #aaa;
  width: 60%;
}
input[type="button"] {
  width: 15%;
}
