* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primera {
  background: #4af09d;
}
.segunda {
  background: #15bef1;
}
.tercera {
  background: #552bc7;
}
.cuarta {
  background: #d869a4;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.section {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}
